Repository jefflester/claude-skills-supercharged: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, typescript-tests, check-skill-length, validate-skill-rules

.pre-commit-config.yaml:

# Pre-commit hooks for Claude Skills Supercharged
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
      - id: end-of-file-fixer
      - id: check-yaml
        args: [--unsafe]  # Allow custom tags in YAML
      - id: check-json
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: mixed-line-ending
        args: [--fix=lf]
      - id: detect-private-key

  # TypeScript/JavaScript linting (uses project's eslint config)
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.8.0
    hooks:
      - id: eslint
        files: \.tsx?$
        types: [file]
        additional_dependencies:
          - eslint@^8.0.0
          - typescript@^5.0.0
          - '@typescript-eslint/parser@^6.0.0'
          - '@typescript-eslint/eslint-plugin@^6.0.0'
        args: [--config, .claude/hooks/.eslintrc.json]

  # Markdown linting
  - repo: https://github.com/igorshubovych/markdownlint-cli
    rev: v0.37.0
    hooks:
      - id: markdownlint
        args: [--disable, MD013, MD033, MD041]  # Disable line-length, HTML, first-line-heading

  # TypeScript type checking and tests
  - repo: local
    hooks:
      - id: tsc
        name: TypeScript type check
        entry: bash -c 'cd .claude/hooks && npx tsc --noEmit'
        language: system
        files: \.tsx?$
        pass_filenames: false

      - id: typescript-tests
        name: Run TypeScript unit tests
        entry: bash -c 'cd .claude/hooks && npm test'
        language: system
        files: '^\.claude/hooks/.*\.ts$'
        pass_filenames: false
        description: Run TypeScript unit tests (fast ~130ms)

  # Skill file length check (500-line rule)
  - repo: local
    hooks:
      - id: check-skill-length
        name: Check skill files under 500 lines
        entry: bash -c 'for f in .claude/skills/*/SKILL.md; do lines=$(wc -l < "$f"); if [ $lines -gt 500 ]; then echo "ERROR - $f has $lines lines (max 500)"; exit 1; fi; done'
        language: system
        files: \.claude/skills/.*/SKILL\.md$
        pass_filenames: false

  # Validate skill-rules.json
  - repo: local
    hooks:
      - id: validate-skill-rules
        name: Validate skill-rules.json schema
        entry: bash -c 'cd .claude/hooks && npx tsx -e "import {validateSkillRules} from \"./lib/schema-validator\"; import fs from \"fs\"; const rules = JSON.parse(fs.readFileSync(\"../skills/skill-rules.json\", \"utf-8\")); validateSkillRules(rules);"'
        language: system
        files: \.claude/skills/skill-rules\.json$
        pass_filenames: false

Add ci/cd workflows
  .github/dependabot.yml
  .github/workflows/auto-merge.yml
  .github/workflows/ci.yml
Due: none

Readme formatting
  README.md
Due: none

Add requiredSkills vs affinity documentation and configurable model support
  .claude/hooks/.env.example
  .claude/hooks/README.md
  .claude/hooks/lib/__tests__/anthropic-client.test.ts
  .claude/hooks/lib/anthropic-client.ts
  README.md
  docs/ARCHITECTURE.md
  docs/CREATING-SKILLS.md
Due: tsc, typescript-tests

Add Smithery badge
  README.md
Due: none

Fix skill auto-injection design flaws
  .claude/hooks/lib/__tests__/affinity-injection.test.ts
  .claude/hooks/lib/__tests__/skill-filtering.test.ts
  .claude/hooks/lib/cache-manager.ts
  .claude/hooks/lib/constants.ts
  .claude/hooks/lib/debug-logger.ts
  .claude/hooks/lib/intent-analyzer.ts
  .claude/hooks/lib/keyword-matcher.ts
  .claude/hooks/lib/output-formatter.ts
  .claude/hooks/lib/skill-filtration.ts
  .claude/hooks/lib/skill-state-manager.ts
  .claude/hooks/package-lock.json
  .claude/hooks/package.json
  .claude/hooks/skill-activation-prompt.sh
  .claude/hooks/skill-activation-prompt.ts
  .claude/skills/skill-rules.json
Due: tsc, typescript-tests, validate-skill-rules

Remove hardcoded test number references
  README.md
Due: none

Exclude guardrail skills from acknowledgedCriticalCount so they dont reduce domain slots
  .claude/hooks/lib/__tests__/skill-filtering.test.ts
  .claude/hooks/lib/skill-filtration.ts
Due: tsc, typescript-tests

feat: add OpenCode dynamic skills injector
  .gitignore
  FINAL-REPORT.md
  opencode/README.md
  opencode/hooks/config/intent-analysis-prompt.txt
  opencode/hooks/index.ts
  opencode/hooks/lib/__tests__/scoring-filtration.test.ts
  opencode/hooks/lib/__tests__/skill-discovery.test.ts
  opencode/hooks/lib/ai-client.ts
  opencode/hooks/lib/cache-manager.ts
  opencode/hooks/lib/constants.ts
  opencode/hooks/lib/debug-logger.ts
  opencode/hooks/lib/intent-analyzer.ts
  opencode/hooks/lib/intent-scorer.ts
  opencode/hooks/lib/keyword-matcher.ts
  opencode/hooks/lib/output-formatter.ts
  opencode/hooks/lib/schema-validator.ts
  opencode/hooks/lib/skill-discovery.ts
  opencode/hooks/lib/skill-filtration.ts
  opencode/hooks/lib/skill-resolution.ts
  opencode/hooks/lib/skill-state-manager.ts
  opencode/hooks/lib/types.ts
  opencode/package-lock.json
  opencode/package.json
  opencode/src/__tests__/mcp-server-threshold-simple.test.ts
  opencode/src/__tests__/parseSelectionThreshold.test.ts
  opencode/src/cli.ts
  opencode/src/mcp-server.ts
  opencode/tests/cli-skill-loading.test.ts
  opencode/tsconfig.json
  package-lock.json
  package.json
  test/opencode-plugin-verification.test.ts
Due: tsc

fix: restore focused skill injection defaults
  opencode/README.md
  opencode/hooks/lib/__tests__/scoring-filtration.test.ts
  opencode/hooks/lib/constants.ts
  opencode/hooks/lib/intent-analyzer.ts
Due: tsc

feat: use haiku intent analysis via opencode auth
  opencode/README.md
  opencode/hooks/lib/__tests__/scoring-filtration.test.ts
  opencode/hooks/lib/ai-client.ts
  opencode/hooks/lib/constants.ts
  opencode/hooks/lib/skill-filtration.ts
Due: tsc

feat: add OpenCode command reference injection
  .claude/PRPs/command-reference-injection.implementation-report.md
  .claude/PRPs/plans/completed/command-reference-injection.plan.md
  opencode/README.md
  opencode/hooks/__tests__/command-hook-behavior.test.ts
  opencode/hooks/config/intent-analysis-prompt.txt
  opencode/hooks/index.ts
  opencode/hooks/lib/__tests__/command-ai-client.test.ts
  opencode/hooks/lib/__tests__/command-discovery.test.ts
  opencode/hooks/lib/__tests__/command-intent-analyzer.test.ts
  opencode/hooks/lib/__tests__/command-output-formatter.test.ts
  opencode/hooks/lib/__tests__/command-scoring-filtration.test.ts
  opencode/hooks/lib/__tests__/command-state-manager.test.ts
  opencode/hooks/lib/__tests__/scoring-filtration.test.ts
  opencode/hooks/lib/ai-client.ts
  opencode/hooks/lib/cache-manager.ts
  opencode/hooks/lib/command-discovery.ts
  opencode/hooks/lib/command-filtration.ts
  opencode/hooks/lib/constants.ts
  opencode/hooks/lib/debug-logger.ts
  opencode/hooks/lib/intent-analyzer.ts
  opencode/hooks/lib/intent-scorer.ts
  opencode/hooks/lib/output-formatter.ts
  opencode/hooks/lib/skill-state-manager.ts
  opencode/hooks/lib/types.ts
  opencode/src/__tests__/cli-command-compatibility.test.ts
  opencode/src/__tests__/mcp-server-command-compatibility.test.ts
  opencode/src/cli.ts
  opencode/src/mcp-server.ts
Due: tsc

feat: align command intent analysis with skills
  opencode/hooks/__tests__/command-hook-behavior.test.ts
  opencode/hooks/config/intent-analysis-prompt.txt
  opencode/hooks/index.ts
  opencode/hooks/lib/__tests__/command-ai-client.test.ts
  opencode/hooks/lib/__tests__/command-discovery.test.ts
  opencode/hooks/lib/__tests__/command-intent-analyzer.test.ts
  opencode/hooks/lib/__tests__/command-scoring-filtration.test.ts
  opencode/hooks/lib/ai-client.ts
  opencode/hooks/lib/command-discovery.ts
  opencode/hooks/lib/command-filtration.ts
  opencode/hooks/lib/intent-analyzer.ts
  opencode/hooks/lib/types.ts
  opencode/src/cli.ts
  opencode/src/mcp-server.ts
Due: tsc

feat: add command summary intent metadata
  .claude/PRPs/command-body-summary-intent.implementation-report.md
  .claude/PRPs/plans/completed/command-body-summary-intent.plan.md
  opencode/hooks/__tests__/command-hook-behavior.test.ts
  opencode/hooks/index.ts
  opencode/hooks/lib/__tests__/command-ai-client.test.ts
  opencode/hooks/lib/__tests__/command-discovery.test.ts
  opencode/hooks/lib/__tests__/command-intent-analyzer.test.ts
  opencode/hooks/lib/__tests__/command-phase-map.test.ts
  opencode/hooks/lib/ai-client.ts
  opencode/hooks/lib/command-discovery.ts
  opencode/hooks/lib/command-phase-map.ts
  opencode/hooks/lib/intent-analyzer.ts
  opencode/hooks/lib/types.ts
Due: tsc

fix: align command threshold handling
  opencode/README.md
  opencode/hooks/__tests__/command-hook-behavior.test.ts
  opencode/hooks/config/intent-analysis-prompt.txt
  opencode/hooks/lib/__tests__/command-ai-client.test.ts
  opencode/hooks/lib/__tests__/command-intent-analyzer.test.ts
  opencode/hooks/lib/__tests__/command-scoring-filtration.test.ts
  opencode/hooks/lib/ai-client.ts
  opencode/hooks/lib/cache-manager.ts
  opencode/hooks/lib/command-filtration.ts
  opencode/hooks/lib/constants.ts
  opencode/hooks/lib/intent-analyzer.ts
  opencode/src/__tests__/command-confidence-buckets.test.ts
  opencode/src/cli.ts
  opencode/src/mcp-server.ts
Due: tsc

fix: remediate all 39 audit findings across 8 phases
  .claude/PRPs/plans/full-audit-remediation.plan.md
  opencode/eslint.config.js
  opencode/hooks/__tests__/hooks-index-coverage.test.ts
  opencode/hooks/config/intent-analysis-prompt.txt
  opencode/hooks/index.ts
  opencode/hooks/lib/__tests__/ai-client-providers.test.ts
  opencode/hooks/lib/__tests__/cache-manager.test.ts
  opencode/hooks/lib/__tests__/command-ai-client.test.ts
  opencode/hooks/lib/__tests__/command-intent-analyzer.test.ts
  opencode/hooks/lib/__tests__/command-scoring-filtration.test.ts
  opencode/hooks/lib/__tests__/scoring-filtration.test.ts
  opencode/hooks/lib/ai-client.ts
  opencode/hooks/lib/cache-manager.ts
  opencode/hooks/lib/command-filtration.ts
  opencode/hooks/lib/constants.ts
  opencode/hooks/lib/debug-logger.ts
  opencode/hooks/lib/intent-analyzer.ts
  opencode/hooks/lib/intent-scorer.ts
  opencode/hooks/lib/output-formatter.ts
  opencode/hooks/lib/schema-validator.ts
  opencode/hooks/lib/skill-discovery.ts
  opencode/hooks/lib/skill-resolution.ts
  opencode/hooks/lib/types.ts
  opencode/package-lock.json
  opencode/package.json
  opencode/src/__tests__/cli-command-compatibility.test.ts
  opencode/src/__tests__/mcp-server-command-compatibility.test.ts
  opencode/src/__tests__/mcp-server-jsonrpc.test.ts
  opencode/src/__tests__/selection-core.test.ts
  opencode/src/cli.ts
  opencode/src/mcp-server.ts
  opencode/src/selection-core.ts
  opencode/tsconfig.json
Due: tsc
